<div class="panel-heading">Question 5</div>
<div class="panel-body">
  <p>5) Have a directive that is dependent of ngModel, that restricts the input to numbers only and auto formats the input as a phone number like (541) 754-3010 . The field must change its format as user types. Do not create a $filter for this
    directive as that does not mean the directive itself is doing the format.</p>
</div>

<div class="form-group" ng-init="phone='1234567890'">
  <input type="text" class="form-control" ng-model="phone" phone-input>
  <br>
  <label>NgModel Value :
    {{phone}}
  </label>
</div>
