
<ul class="list-group">
            <li class="list-group-item" ui-sref="problem({id:'q1'})">
                1) Use ui-route to create at least 3 pages that share a single state for loading them. To achieve this, have state url parameters by dynamic and load views/controllers based on those parameters.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q2'})">
                2) Provide example on how to pass data between page controllers. Have an input field in one page of which contents is displayed in the second page. Please do not use $rootScope.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q3'})">
                3) Have page transition animations.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q4'})">
                4) Create an array of 50 items, each item having 3 properties. Create an option to sort the array by one or two properties. Make the array be filterable by a search input.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q5'})">
                5) Have a directive that is dependent of ngModel, that restricts the input to numbers only and auto formats the input as a phone number like (541) 754-3010 . The field must change its format as user types. Do not create a $filter for this directive as
                that does not mean the directive itself is doing the format.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q6'})">
                6) Have a directive that is dependent of ngModel, that restricts the input to numbers only and auto formats the input into currency, ex: $1,234. The field must change its format as user types. Do not create a $filter for this directive as that does not
                mean the directive itself is doing the format.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q7'})">
                7) Create 3 number inputs that sum up into an additional field. Editing each of the 3 inputs will always update the sum value. The fourth field can also be editable, and whenever user changes this one its value must be spread across the other 3 fields.
                Example:
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q8'})">
                8) Create 3 inputs each with maximum char. length 5. When entering the 5 th char. in an input the cursor should jump to the next input right after the char. has been inserted. When deleting the 1 st char. of an input the cursor should jump at the end
                of previous input right after that char. has been deleted.
            </li>
            <li class="list-group-item" ui-sref="problem({id:'q9'})">
                9) Make use of require.js to load the app resources.
            </li>
        </ul>
